body div#comments{
  margin: 0 2em 1em 2em;
  padding:1em;
  background-color: lightgray;
  box-sizing: border-box;

  h2.comments-title{
    margin-bottom:.5em;
    //background-color: peachpuff;
    line-height: 1.5em;
  }

  ol.comment-list{

    background-color: thistle;

    li.comment article.comment-body{

      footer.comment-meta{

        div.comment-author, div.vcard{
          width:60%;
          height:32px;
          float:left;
          line-height: 32px;
          overflow:hidden;



          img{
            display:block;
            float:left;
          }

          b.fn{
            height: 32px;
            line-height: 32px;
            margin-left:5px;

          }

          span.says{
            height: 32px;
            line-height: 32px;
          }

        }

        div.comment-metadata{
          width:40%;
          height:32px;
          line-height: 32px;
          float:left;
        }
      }

      div.comment-content{

      }

      div.reply{
        display: block;
        position: static;
      }
    }
  }

  div#respond{
    background-color: red;

  }

  textarea{


  }
}