body div#comments{
  margin: 3em 0 1em 2em;
  padding:1em;
  //background-color:darken($lightGrayBorder, 8%);
  background-color:$offwhite;
  box-sizing: border-box;
  border-radius:8px;

  a{
    @include calsitacsDefaultLinks;
  }

  h2.comments-title{
    margin-bottom:.5em;
    //background-color: peachpuff;
    line-height: 1.5em;
  }

  ol.comment-list{

    li.comment {
      margin-bottom:2.5em;

      article.comment-body {
        //background-color:lighten($uwTan, 5%);
        @extend .cf;
        //background-color: seagreen;
        background-color:$lightGrayBorder;
        position: relative;


        footer.comment-meta {
          color:white;
          @extend .cf;
          //background-color: lightgreen;
          background-color:darken($lightGrayBorder, 20%);

          div.comment-author, div.vcard {
            width: auto;
            height: 32px;
            float: left;
            line-height: 32px;
            overflow: hidden;

            img {
              display: block;
              float: left;
            }

            b.fn {
              height: 32px;
              line-height: 32px;
              margin-left: 5px;

            }

            span.says {
              height: 32px;
              line-height: 32px;
            }

          }

          div.comment-metadata {
            width: auto;
            height: 32px;
            line-height: 32px;
            float: left;
            position: absolute;
            top: 0;
            right: 10%;
            a{
                text-decoration: none;
                color:darken($calsGrayFooterText,20%);
                cursor:auto;
            }
            span.edit-link {
              position: absolute;
              top: 0;
              right: -40%;
              a.comment-edit-link{
                display:block;
                text-align: center;
                font-size:16px;
                font-weight: normal;

                color:darken($calsGrayFooterText,20%);
                text-decoration: none;

                //unvisited link
                  &:link{ 
                    //font-weight:bold;
                  }

                  //visited link
                  &:visited{
                    
                  }

                  //mouse over link
                  &:hover{
                  text-decoration: none;
                  color:$calsGrayFooterText;
                  cursor: pointer;

                  }

                  //selected link
                    &:active{
                  }


                &:after{
                  content:'\e80c';//font-awesome,icon-edit
                  font-family:fontello;
                  font-weight:normal;
                  font-style:normal;
                  margin:0;
                  text-decoration: none;
                  color:inherit;
                  padding-left:6px;
                }//END &:after
              }//END .comment-edit-link
            }
          }
        }

        div.comment-content {
          @extend .cf;
          padding: .5em;

        }

        div.reply {
          float: right;
          display: block;
          margin: .5em;
          background-color:transparent;
        }
      } //END <article>.comment-body

      ol.children{
        margin:1em 0 2em 2em;
      }

    } //END <li>.comment
  }

  div#respond{
    background-color:$offwhite;
    //background-color:darken($lightGrayBorder, 20%);
    padding:.5em;

    h3#reply-title{
      //background-color:thistle;
      margin:.25em 0;
    }

    form.comment-form{
      background-color:$offwhite;
      //background-color:darken($lightGrayBorder, 20%);
      padding:.5em;

      p.logged-in-as{
        //background-color:mediumaquamarine;
        margin:.25em 0;
      }
      p.comment-form-comment{
        //background-color: silver;
        label{
          margin-bottom:.5em;
          display:block;
          &::after{
            content:": ";
          }
        }
      }

      p.form-allowed-tags{
        display:none;
      }

      p.form-submit{
        //background-color:burlywood;
        margin: 1em 0 0 0;
        input#calsitacs_comment_form{

          @include calsitacs_comment_button; // /SASS/theme/partials/_buttons.scss

        }//END #calsitacs_comment_form
      }
    }

  }

  textarea{


  }
}