// Generic styles for header.php. May be overriden by specific templates.

body{
	div.siteWrapper{

			div.headerContainer{

				div.right-tab{
					position: fixed;
				    top: 30%;
				    background-color: red;
				    text-align: left;

				    height:45px;
				    width:90px;
				    //border-radius: 90px 90px 0 0;
				    //-moz-border-radius: 90px 90px 0 0;
				    //-webkit-border-radius: 90px 90px 0 0;
				    
				    //border-bottom-right-radius: 50px 100px;
				   	//border-top-right-radius: 50px 100px;

				}//END .right-tab

				div.cyan{

					display:none;
				}	
			}

		}//END .siteWrapper
}