.homePageFeature {
  padding: 2em;
  text-align: center;
  color: $white;
  background-color: transparent;
  min-height: 400px;

  .button.large {
    padding: 2em;
    font-weight: 300;
    font-family: "Raleway",sans-serif;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    margin-top: 2em;
  }

  h2 {
    position:relative;
    z-index:5;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 1.6em;
    margin-top: 3.5em;
    letter-spacing: 1px;
  }

  h2.subHeading {
    position:relative;
    z-index:5;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    color: rgba(255,255,255,0.8);
    -webkit-font-smoothing: antialiased;
    font-size: 3.7em;
    margin-top: 0px;
  }

  .equipment {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index:3;

    img {
      width: 100%;
      height: auto;
    }
  }

}

.homeSubFeatures>div {
    padding: 5em;

    div.icon {
      margin: 0 auto;
      width: 50%;
      margin-bottom: 1.4em;

      img {
        width: 100%;
        height: auto;
      }
    }

    h3 {
      text-align: center;
      margin-bottom: 1.0em;
      font-family: "Raleway",sans-serif;
      font-weight: 500;
    }

    p {
      text-align: center;
      line-height: 1.6;
      font-family: "Raleway",sans-serif;
      font-weight: 300;
    }
}

.service-pop-out{
  width:100px;
  height:100px;
  display:none;
  background-color:$uwTan;
  //position:fixed;
  position:fixed;
  z-index:20;
  //top:400px;
  //left:400px;
  //margin-left: 4%;
  //margin-top:2%;
  .pop-out-heading{
    position:absolute;
  }
}

.SPOWrapper{
  display:block;
  background-color:$calsitacsOffWhite;
  width:60%;
  height:100%;
  position:relative;
  margin:5% auto;
  box-shadow: 10px 10px 5px #888888;
}

.pop-out-close{
  background-color:none;
  position:absolute;
  right:0;
  top:0;
}

.red{
   width:25%;
  height:100%;
  //background-color:red;
  float:left;
}

.orange{
   width:25%;
  height:100%;
  //background-color:orange;
  float:left;
}

.yellow{
   width:25%;
  height:100%;
  //background-color:yellow;
  float:left;
}
.green{
  width:25%;
  height:100%;
  //background-color:green;
  float:left;
}
.helpOption{
  position: absolute;
  bottom:5%;
  margin-left:5%
}

svg.closeButton{
  width:40px;
  height:40px;
  box-sizing:border-box;
  padding:5px;
}

//overriding sweet-alert default styles
body > div.sweet-alert{
  padding:0;
  h2,p{
    z-index: -1;
  }
}

div[data-custom-class="myCustomClass"]{
  background-color:$uwTan;
  margin-left:10%;
  margin-top:0;
  width:80%;
  height: 50%;
  left:0%;

  fieldset{
    width:20%;
    margin:0 auto;
  }

  .itacsClose{
  background-color:none;
  position:absolute;
  right:0;
  top:0;
  width:40px;
  padding:5px;
  }



  div[class^="itacsIcon"]{
    min-width: 30px;
    min-height:30px;
    //background-color:yellowgreen;
    position:absolute;
  }

  div.itacsIcon-1{
    top: 70%;
    left: 12%;
    width:10%;
    div{
      width:100%;
      //background-color:green;

      a{
        //width:500px;
        img{
        //width:100%;
        max-width: none;
        position: static;
        //position: absolute;
        //top:0;
        //left:0;
        }

      }

      a.itacsIconHeading{

      }

    }
    
  }

  div.itacsIcon-2{
    top: 70%;
    left: 34%;
    width:10%;
    div{
      //width:100%;
      //background-color:green;

      a{
        //width:500px;
        img{
        //width:100%;
        max-width: none;
        position: static;
        //position: absolute;
        //top:0;
        //left:0;
        }

      }

      a.itacsIconHeading{

      }

    }
  }

  div.itacsIcon-3{
    top: 70%;
    left: 56%;
    width:10%;
    div{
      width:100%;
      //background-color:green;

      a{
        //width:500px;
        img{
        //width:100%;
        max-width: none;
        position: static;
        //position: absolute;
        //top:0;
        //left:0;
        }

      }

      a.itacsIconHeading{

      }

    }
  }

  div.itacsIcon-4{
    top: 70%;
    left: 78%; // (100-8) - 10 = 82
    width:10%;
    div{
      width:100%;
      //background-color:green;

      a{
        //width:500px;
        img{
       //width:100%;
       max-width: none;
        position: static;
        //position: absolute;
        //top:0;
        //left:0;
        }

      }

      a.itacsIconHeading{

      }

    }
  }

}



