.homePageFeature {
  padding: 2em;
  text-align: center;
  color: $white;
  background-color: transparent;
  min-height: 400px;
  z-index: 2;
  position:relative;
  top:0;
  -webkit-transition: top 1s ; /* Safari */
  transition: top 1s;

  .button.large {
    padding: 2em;
    font-weight: 300;
    font-family: "Raleway",sans-serif;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    margin-top: 2em;
  }

  h2 {
    position:relative;
    z-index:5;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 1.6em;
    margin-top: 3.5em;
    letter-spacing: 1px;
  }

  h2.subHeading {
    position:relative;
    z-index:5;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    color: rgba(255,255,255,0.8);
    -webkit-font-smoothing: antialiased;
    font-size: 3.7em;
    margin-top: 0px;
  }

  div.services-searchbox{
    padding:2% 0;
      input#services-searchfield{
        padding-left:25px;
        -webkit-transition-property: width; 
        transition-property: width;

        webkit-transition-duration: 2s;
        transition-duration: 2s;

        webkit-transition-timing-function:ease;
        transition-timing-function:ease;

        width:16%;
        background: url("../../../img/search.png") no-repeat 4px 4px;
        background-color:white;
        text-transform: capitalize;


        &.service-search-active{
          width:24%;
        }
      }
      a.our-services{
        padding:3px;
        line-height: 1.5em;
        display: none;
      
      }

  }

  .equipment {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index:3;

    img {
      width: 100%;
      height: auto;
    }
  }

}

.homeSubFeatures>div {
    padding: 5em;

    div.icon {
      margin: 0 auto;
      width: 50%;
      margin-bottom: 1.4em;

      img {
        width: 100%;
        height: auto;
      }
    }

    h3 {
      text-align: center;
      margin-bottom: 1.0em;
      font-family: "Raleway",sans-serif;
      font-weight: 500;
    }

    p {
      text-align: center;
      line-height: 1.6;
      font-family: "Raleway",sans-serif;
      font-weight: 300;
    }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Service Search field animation feature
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.headerContainer.service-search-active{
  //background:none;
  //background-color:pink;
 
}

.homePageFeature.service-search-active{
top:-8em;
}

.height-div{
  height: 0;
  -webkit-transition: height .6s; /* Safari */
  transition: height .6s;
  &.service-search-active{
    height: 9em;
  }
}

.cyan{
width:95%;
height:60%;
position:absolute;
top:35%;
left:2.5%;
display:none;
z-index:2;
&.service-search-active{
    display:block;

  }
}

.cyan.service-search-active div.serviceWrapper{
  width:25%;
  height: 100%;
  float:left;
  box-sizing:border-box;
  padding:2%;
  padding-top:8%;
  //visibility:hidden;
  //-webkit-transition: visibility 2.3s; /* Safari */
  //transition: visibility 2.3s;

  &.service1{

  //background-color:tan;

  }

  &.service2{

  //background-color:aliceblue;

  }

  &.service3{

 // background-color:magenta;

  }

  &.service4{

  //background-color:orange;

  }

  &.service-search-active{
   //visibility: visible;
   div{
      //margin-left:35%;
      position:absolute;
      left:38%;
      max-width:128px;
      overflow: hidden;
      a.serviceIcon{
        display:inline-block;
        float:left;
      }
      a.serviceHeading{
        float:left;
        clear:both;
        width:100%;
        text-align: center;
        margin: .2em 0;
        font-family: Raleway, sans-serif;
        font-weight:300;
        font-size:1.6em;
        letter-spacing: 2px;
        
        -webkit-transition-property: font-size, color; /* Safari */
        transition-property: font-size, color;

        webkit-transition-duration: .8s;
        transition-duration:.8s;

        webkit-transition-timing-function:ease;
        transition-timing-function:ease;

        //unvisited link
        &:link{ 
          color:rgba(255,255,255,.9);
          text-decoration: none;
        }

        //visited link
        &:visited{
          color:rgba(255,255,255,.9);
          text-decoration: none;
        }

        //mouse over link
        &:hover{
          color:$uwTan;
          font-size: 1.8em;
          
        }

        //selected link
        &:active{

        }
      }
   }

  }
}