//unknown styles:

.jqueryFontAnimationFix{
  opacity: 0.99;
  filter:alpha(opacity=99);
}

/*.button.large {
padding: 2em;
font-weight: 300;
font-family: "Raleway",sans-serif;
padding-top: 1.2em;
padding-bottom: 1.2em;
margin-top: 2em;
}*/

/*.equipment {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index:3;

	img {
		width: 100%;
		height: auto;
	}
}*/



body.page-home{

	div.siteWrapper{

		div.headerContainer{
			div#page{

			}//END #page

			div.homePageFeature{
				padding: 2em;
				text-align: center;
				color: $white;
				background-color: transparent;
				min-height: 400px;
				z-index: 2;
				position:relative;
				top:0;
				-webkit-transition: top 1s ; /* Safari */
				transition: top 1s;

			  	h2 {
					position:relative;
					z-index:5;
					font-family: "Raleway", sans-serif;
					font-weight: 500;
					font-size: 1.6em;
					margin-top: 3.5em;
					letter-spacing: 1px;
				}//END h2

				h2.subHeading {
				    position:relative;
				    z-index:5;
				    font-family: "Raleway", sans-serif;
				    font-weight: 100;
				    color: rgba(255,255,255,0.8);
				    -webkit-font-smoothing: antialiased;
				    font-size: 3.7em;
				    margin-top: 0px;
				    &.service-search-active{
				      //TODO
					}
				}//END h2.subHeading

				div.services-searchbox{
					padding:2% 0;
					span.input.input--minoru{
						form{
							input{
								&#input-16{
									box-sizing:border-box;
									-moz-box-sizing:border-box;
							  		width:100%;
							  		padding:0;
							  		margin:0;
							  		font-size:2em;
							  		line-height:2em;
							  		padding: 0 0.25em 0 0.25em;

									&:focus{
										color:white;
									}//END &:focus

								}//END &#input-16

								label.input__label.input__label--yoko{

									span.input__label-content.input__label-content--yoko{

									}//END span

								}//END label
							}
						}//END form
					}//END span.input.input--minoru

					/*input#services-searchfield{
				    	//padding-left:25px;
				        -webkit-transition-property: width, height; 
				        transition-property: width,height;

				        webkit-transition-duration: 1s;
				        transition-duration: 1s;

				        webkit-transition-timing-function:ease;
				        transition-timing-function:ease;

				        width:16%;
				        height:3em;
				        //background: url("../../../img/search.png") no-repeat 4px 4px;
				        background-color:white;
				        text-transform: capitalize;
				        padding:10px;
				        border:solid 7px white;
				        border-radius:initial;
				        display:none;

				        &.service-search-active{
				          width:24%;
				          height:5em;
				        }

				    }*///END input#services-searchfield

				      /*a.our-services{
				        padding:3px;
				        line-height: 1.5em;
				        display: none;
				      
				      }*/

				}//END .services-searchbox

				&.service-search-active{
					top:-8em;
				}

			}//END .homePageFeature

			div.height-div{
				height: 0;
				-webkit-transition: height .6s; /* Safari */
				transition: height .6s;
				&.service-search-active{
					height: 9em;
				}

			}//END .height-div

			div.cyan{
				width:95%;
				height:60%;
				position:absolute;
				top:35%;
				left:2.5%;
				display:none;
				z-index:2;
				&.service-search-active{
				    display:block;
				    //display:none;
				    div.searchResultsWrapper{
						  width: 40%;
						  height: 100%;
						  float: left;
						  box-sizing: border-box;
						  display: block;
						  //background-color: pink;
						  position: relative;
						  margin: 0 auto;
						  top: 30%;
						  left: 30%;
						  & div.searchResults {
						    //background-color:blue;
						    margin: 0 auto;
						    width:80%;
						    @extend .jqueryFontAnimationFix;

						      & > ul{
						        @extend .jqueryFontAnimationFix;
						     
						 
						      & > li.singleSearchResult{
						        margin: 0 0 .4em 0;
						        text-align:left;
						        font-family: Raleway, sans-serif;
						        font-size:1.2em;
						        letter-spacing: 1px;
						        color:$white;
						        margin: 0 auto .5em;
						        @extend .jqueryFontAnimationFix;


						        & a.linkSearchResult{

						        text-decoration:underline;
						        @extend .jqueryFontAnimationFix;

						          //unvisited link
						          &:link{ 
						            @extend .commonSearches;
						          }

						          //visited link
						          &:visited{
						            @extend .commonSearches;
						          }

						          //mouse over link
						          &:hover{
						            color:$uwTan; 
						          }

						          //selected link
						          &:active{
						          }

						        }//END & a.linkSearchResult

						      }//END & > li.singleSearchResult

						      & >li.commonSearches{
						        @extend .commonSearches;
						        margin-bottom:10px;
						        margin-top:15px;

						        }//END & >li.commonSearches

						        & >li.moreCommon{
						          margin-top:.5em;
						          & >a{

						          @extend .commonSearches;

						          &:visited{

						            @extend .commonSearches;

						          }

						          }//END & >a

						        }//END & >li.moreCommon

						      }//END & > ul

						  }//END & div.searchResults
				    }
				}//END &.service-search-active

				div.searchResultsWrapper{

					div.searchResults{
						ul{
							li.commonSearches{

							  color:rgba(255, 255, 255, 0.8);
							  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
							  text-decoration: none;
							  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
							  font-weight:100;
							  @extend .jqueryFontAnimationFix;
							 
							}//END li.commonSearches
						}//END ul
					}//END .searchResults

				}//END .searchResultsWrapper

			}//END .cyan

			div.opacityLayer{

			}//END .opacityLayer

		}//END .headerContainer
		
		div#content{
			min-height:0;
			div#primary{
				main#main.site-main{
					div.row.homeSubFeatures{
						padding-top:3em;

						>div{
						      padding: 0;

						      div.icon {
						        margin: 0 auto;
						        width: 50%;
						        margin-bottom: 1.4em;

						        img {
						          width: 100%;
						          height: auto;
						        }
						      }//END div.icon

						      h3 {
						        text-align: center;
						        margin-bottom: 1.0em;
						        font-family: "Raleway",sans-serif;
						        font-weight: 500;
						      }//END h3

						      p {
						        text-align: center;
						        line-height: 1.6;
						        font-family: "Raleway",sans-serif;
						        font-weight: 300;
						      }//End p

						}//END >div

					}//END .row.homeSubFeatures

				}//END main#main.site-main

			}//END #primary

		}//END #content

		footer{

		}//END footer

	}//END .siteWrapper
}