.page-services #content{
	//background:white;
	//background: #4A4A4A;
/* Grid Patter */
background-color:$primaryHeaderBg;
background-image: linear-gradient(white 2px, transparent 2px),
linear-gradient(90deg, white 2px, transparent 2px),
linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
background-size:0px 0px, 0px 0px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;

}

.service {
	padding:4em;
	//visibility: hidden;
	position: inherit;
	//float:left;
}

.serviceIcon{
	//visibility:hidden;
	float:left;
}

.serviceContent{
	border: 1px solid #FFFFFF;
	border-radius: 1px;
	//font-size: 12px;
	/* Rectangle 8: */
	background: rgba(0,0,0,0.09);
	/* We offer a wide rang: */
	font-family: Helvetica-Light;
	font-size: 24px;
	color: #F7F1F1;
	line-height: 28px;
	float: right;
	margin-left: 2em;
	padding:1em;
	height:23em;
	width:20em;
	margin-top:-2.7em;
}

.page-services .titleBox{
border: 1px solid #FFFFFF;
border-radius: 1px;
font-family: Helvetica-Light;
font-size: 36px;
color: #F7F1F1;
//line-height: 43px;
height: 2em;
width: 90%;
margin: 0 auto;
padding-top:.5em;
padding-left: .5em;
}