
.page-help #content{
	//background-color: #4C4C4C;
}

.page-help .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
  font-size: 1em;
  background: $primaryHeaderBg !important;
  border-bottom:none !important;
}

.formContent{
  padding: 3em;
}

ul.tabs {
  //list-style-type: none;
  margin-top: 20px;
  padding: 0;
  text-align: center; 
  //border-bottom: solid 3px silver;
}

  ul.tabs li {
    display: inline-block;
    height: 50px;
    //width: 15.5em;
    width: 30%;
    margin-left: 20px;
    background: linear-gradient(to bottom,rgba(128,128,128,1.0) 50%,rgba(115,115,115,1.0) 100%);
    //background-color: #666666;
    //border: solid 1px #B3B3B3;
    //border-radius: .15em;
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
    padding: 18px 20px;
    //margin-bottom: 4px;
    color: #fff;
    cursor: pointer; 
    -webkit-transition: height .1s;
    transition: .1s;
     -webkit-transition: width .1s;
    transition: width .1s;
}

  ul.tabs li:hover {
  	background: linear-gradient(to bottom,rgba(114,114,114,1.0) 50%,rgba(115,115,115,1.0) 100%);
  	//background-color: #BFBFBF; 
  }
  ul.tabs li.current {
   	//background-color: #800000;
   	//background: linear-gradient(to bottom,rgba(150,0,1,.8) 50%,rgba(112,0,0,1.0) 100%);
    background:$primaryHeaderBg;

   }

#borderTop{
   border-top: solid 4px silver; //#5598d1
}

.tab-content{
	 display: none;
	 background: #ededed;
	 padding: 15px;
   border-bottom: solid 4px silver;
}

.tab-content.current{
	display: inherit;
}

@media only screen and (min-width: 300px) and (max-width:600px){
  ul.tabs li {
    display: inline-block;
    height: 65px;
    width:10em;
    }
}


/* Test css code for page-news */

#news-section{
margin-top: 2em;
}

#news-date{
  font-size: 10px;
}


#news-head{
  //margin-top: 2em;
  position: relative;
  border-top-right-radius: .1em;
  border-top-left-radius: .1em;
  padding: .5em;
  background: rgb(149, 0, 1);
  font-size: 30px;
  color: white;
  z-index:1; //makes divs infront of other divs

}

#news-content{
  padding: 1em;
  color: rgb(97, 93, 93);
  background: rgb(249, 249, 249);
  border: 1px solid silver;
  //z-index:-1;
  //margin-bottom: 2em;
}








