.page-services #content{
	background:white;
	//background: #4A4A4A;
/* Grid Patter */
//background-color:$primaryHeaderBg;
//background-color: #423030;
// background-image: linear-gradient(white 2px, transparent 2px),
// linear-gradient(90deg, white 2px, transparent 2px),
// linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
// linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
// background-size:0px 0px, 0px 0px, 20px 20px, 20px 20px;
// background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;

}

.page-services img{
	width:450px;
	padding-left: 4em;
}

.service {
	padding-left:4em;
	padding-right:4em;
	//visibility: hidden;
	//float:left;
	min-height: 500px;
	padding-top: 4em;

	p{
		font-family: 'Open Sans',sans-serif;
  		font-weight: 100;
  		font-size: 1.4em;
  		line-height: 2.2em;
  		color: black;

	}
}

.service2 {

	padding-left:4em;
	padding-right:4em;
	min-height: 450px;
	padding-top: 4em;

}

.page-services{
.titleBox{
//border: 1px solid #FFFFFF;
//border-radius: 1px;
font-size: 36px;
//line-height: 43px;
//height: 2em;
width: 90%;
margin: 0 auto;
padding-top:.5em;
//padding-left: .5em;
font-family: Helvetica;
font-size: 48px;
color: #696A6A;
line-height: 58px;
}
}
/**********************
 * Layout 1 Styles
 *********************/
.layout{
	min-height:430px;
	width:100%;
	//margin-top:10px;
	//background:white;
}

.layoutBottom{
	background-image: url("../../../img/serviceBottomLayOut.svg");
	min-height:300px;
	//width:100%;
}

.layout .serviceIcon{
	float:left;
	padding-top: 4em;
	padding-left: 3em;
	display: none;
	//width:100%;
}

.layout .serviceContent{
	margin-top: -0.1em;
	//border: 1px solid #FFFFFF;
	border-radius: 1px;
	//font-size: 12px;
	//background: rgba(0,0,0,0.09);
	font-family: Helvetica-Light;
	font-size: 12px;
	color: #F7F1F1;
	line-height: 28px;
	float: right;
	//margin-left: 2em;
	padding:1em;
	height:90%;
	width:45%;
	//margin-top:-2.7em;
	display:none;
	overflow:auto;
	margin-right: -.2em;


	// -webkit-transition: opacity .7s ease-in-out;
	// -moz-transition: opacity .7s ease-in-out;
	// -o-transition: opacity .7s ease-in-out;
}

/**********************
 * Layout 2 Styles
 *********************/

.layout2 {
	min-height:500px;
	width:100%;
	//margin-top:100px;
	background: #4A4A4A;

	.titleBox{
		color:white;
	}

	p{
		font-family: Helvetica-Light;
  		font-weight: 100;
  		font-size: 1.4em;
  		line-height: 2.2em;
  		color: white;

	}

}

.layout2 .serviceContent{
	margin-top: -.1em;
	//border: 1px solid #FFFFFF;
	border-radius: 1px;
	//font-size: 12px;
	//background: rgba(0,0,0,0.09);
	font-family: Helvetica-Light;
	font-size: 12px;
	color: #F7F1F1;
	line-height: 28px;
	padding:1em;
	height:90%;
	width:45%;
	float:left;
	margin-left: 5em;
	//margin-left: -.2em;
	//display: none;
	

}

.layout2 .serviceIcon{
	float:right;
	padding-top: 4em;
	//display: none;
}

.layout2.hidden{
	//opacity:0;
}

/**********************
 * Layout 3 Styles
 *********************/


.layout3{
	min-height:600px;
	width:100%;
	//margin-top:50px;
	background: #5E889E;

	.titleBox{
		color:white;
	}

	p{
		font-family: Helvetica-Light;
  		font-weight: 100;
  		font-size: 1.4em;
  		line-height: 2.2em;
  		color: white;

	}
}

.layout3Top{
	background-color: #4A4A4A;
	background-image: url("../../../img/itSecurityTopLayOut.svg");
	min-height:250px;
}


.layout3 img{
	//width:300px;
}

.layout3 .serviceIcon{
	float:left;
	//padding-top: 4em;
	padding-left:5em;
	//display: none;
}

.layout3 .serviceContent{
	//margin-top: -0.06em;
	//border: 1px solid #FFFFFF;
	border-radius: 1px;
	//font-size: 12px;
	//background: rgba(0,0,0,0.09);
	font-family: Helvetica-Light;
	font-size: 12px;
	color: #F7F1F1;
	line-height: 28px;
	float: right;
	padding:1em;
	height:90%;
	width:45%;
	//display:none;
	margin-right: -.2em;

}

.layout3.hidden{
	//opacity:0;
}
