/*body{

	div.siteWrapper{

		div.headerContainer{

		}//END .headerContainer

		div#content{

		}//END #content

		footer#colophon{

		}//END footer#colophon

	}//END .siteWrapper

}//END body


//width is >= 0px
@media only screen and (min-width: 0px) and (max-width:300px){
	div#content{
	background-color:red;
	}//END #content

}

//width is >= 300px && <= 600px
@media only screen and (min-width: 300px) and (max-width:600px){
	div#content{
	background-color:orange;
	}//END #content
}

//width is >= 600px && <= 960px
@media only screen and (min-width: 600px) and (max-width:960px){
	div#content{
	background-color:yellow;
	}//END #content
}

//width is >= 960px && <= 1140px
@media only screen and (min-width: 960px) and (max-width:1140px){
	div#content{
	background-color:green;
	}//END #content
}

//width is >= 1140px
@media only screen and (min-width: 1140px){
	div#content{
	background-color:blue;
	}//END #content
}
*/