/*
Description: SASS rules for search.php
*/

body.search{

  header.page-header{
    margin:48px;
    font-weight: 400;
    font-family:"Raleway",sans-serif;
    color: $charcoalRGBA;


  }

  article.post, article.page{
    margin: 0 48px 1.5em 48px;
    //padding: 0 48px 1.5em 48px;
    padding:.7em;

    margin-bottom:2em;

    &.sr-even{
      background-color:lighten($charcoalRGBA,65%);
      border-radius:10px;
    }

    header.entry-header{
      h1.entry-title{
        display:block;
        box-sizing: border-box;
        float:left;
        width:50%;
        margin-bottom:.5em;
        a{
          font-size:.8em;

          //unvisited link
          &:link{

            text-decoration: none;
          }

          //visited link
          &:visited{

            text-decoration: none;
          }

          //mouse over link
          &:hover{



          }

          //selected link
          &:active{

          }
        }
      }
      div.entry-meta{
        display:block;
        height:48px;
        line-height: 48px;
        box-sizing: border-box;
        float:left;
        width:50%;
        margin-bottom:.5em;
        span.posted-on{
          display:block;
          float:right;
          margin-left:1em;
        }
        span.byline{
          display:block;
          float:right;
        }


      }
    }//END .entry-header

    div.entry-summary{
      @extend .cf:after;
      margin-bottom:1em;
    }

    footer.entry-footer{
      span.cat-links{}
      span.comments-link{
        margin-left:.5em;
      }
      span.edit-link{
        margin-left:.5em;
      }
    }
  }


  /*
  content-none
  */
  &.search-no-results{

    div.page-content{
    background-color:pink;
    }

  }
}