//Post navigation

body.single-post{

  div#primary{
  padding:0 2em;
    nav.navigation.post-navigation{
      height:2em;
    }

    article{

      header{

        h1.entry-title{
            //background-color:peachpuff;
            margin-top:1.5%;
            margin-bottom:1%;
        }
      }

    }

  }


}

