$blue: #03a9f4;
$red: #e51748;
$green: #95d623;
$purple: #b64ce2;
$yellow: #e9c003;
$orange: #e96403;

$soft-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
$hard-shadow: 0px 3px 0px 3px rgba(0,0,0,0.3);


///calsitacs colors
$primaryHeaderBg: #960001;
$white: rgba(255,255,255,0.9);
$navbg: #333333;
$navtextcolor: rgba(255,255,255,0.8);
$offwhite: rgba(249,249,249, 1);
$lightGrayBorder: rgba(244,245,246,1);

$charcoalRGBA: rgba(64,64,64, .7);
$www-qa_dark: #313131;


$lightGrayfooter:(255,255,255,0.5);
$uwTan:#CBC8B7;
$uwTanDarker: darken($uwTan,20%);

$calsitacsRed: #960001;
$calsitacsOffWhite:#f9f9f9;
